/* Estilos gerais */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                      url('Ponte_final.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
linha {
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    }
/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.selector {
    color: goldenrod;
    font-size: 30px;
    
}

.login {
    color: white;
    text-decoration: none;
    background-color: #f4a041;
    padding: 8px 15px;
    border-radius: 5px;
}
.login:hover {
    color: #0056b3;                    
    text-decoration: underline;
}

/* Barra de pesquisa */
.search-bar {
    text-align: center;
    padding: 20px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estrutura principal */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.block {
    width: 45%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.block1 {
    width: 45%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    box-shadow: 2px 2px 8px rgba(93, 95, 96, 0.5);
}
/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .block {
        width: 90%;
    }
}
